/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/adc/mcux-lpadc.h>
#include <nxp/mcx/MCXA156VLL-pinctrl.h>


/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&lpadc0 6>;
		relay1-reset-gpios = <&gpio2 16 GPIO_ACTIVE_HIGH>;
		relay1-set-gpios = <&gpio3 13 GPIO_ACTIVE_HIGH>;
		relay2-reset-gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		relay2-set-gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;
		relay3-reset-gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;
		relay3-set-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
		en-pos-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		en-neg-gpios = <&gpio2 20 GPIO_ACTIVE_HIGH>;
		en-ldo-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		a10x-inh-gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		att-s1-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
		att-s2-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		gs-a-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		gs-b-gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
		gs-inh-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
		is-a-gpios = <&gpio2 17 GPIO_ACTIVE_HIGH>;
		is-b-gpios = <&gpio4 6 GPIO_ACTIVE_HIGH>;
		is-inh-gpios = <&gpio3 16 GPIO_ACTIVE_HIGH>;
	};
};

&lpadc0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&pinmux_lpadc0_custom>;

	// needs to match NXP channel number so ADC0_A6_P2_16 -> channel 6, irrespective of ADC0 or ADC1
	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <16>;
		zephyr,input-positive = <MCUX_LPADC_CH6A>;
	};
};

// Something is broken here, as soon as lpadc1 is enabled it causes a crash
// &lpadc1 {
// 	status = "okay";
// 	pinctrl-0 = <&pinmux_lpadc1>;
// 	pinctrl-names = "default";
	
// 	channel@8 {
// 		reg = <8>;
// 		zephyr,gain = "ADC_GAIN_1";
// 		zephyr,reference = "ADC_REF_EXTERNAL0";
// 		zephyr,vref-mv = <3300>;
// 		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
// 		zephyr,resolution = <16>;
// 		zephyr,input-positive = <MCUX_LPADC_CH8B>;
// 	};
// };

&pinctrl {

	// distinct name from the board default pinmux group
	pinmux_lpadc0_custom: pinmux_lpadc0_custom {
		group0 {
			pinmux = <ADC0_A1_P2_1>,
					<ADC0_A6_P2_16>;
			slew-rate = "fast";
			drive-strength = "low";
		};
	};

	pinmux_lpadc1: pinmux_lpadc1 {
		group0 {
			pinmux = <ADC1_A8_P1_10>,
					<ADC1_A1_P2_5>;
			slew-rate = "fast";
			drive-strength = "low";
		};
	};
};